streamlit==1.33.0
pandas==1.5.3
numpy==1.24.4
scipy==1.10.1

geopandas==0.14.3
shapely==2.0.1
pyproj==3.6.1
fiona==1.9.5
pyogrio==0.7.2
rtree

folium==0.15.1
streamlit-folium==0.18.0
plotly==5.18.0

libpysal==4.7.0
esda==2.5.0

openpyxl
